.title {
  font-size: 3rem;
  font-weight: bold;
}

.sub-title {
  margin: 0 0 0.4rem 0;
  font-size: 1.3rem;
  font-weight: 700;
}

@media (max-width: 425px) {
  .title {
    font-size: 2rem;
  }
  .sub-title {
    font-size: 1rem;
  }
}
