.encrypt {
  font-size: 3rem;
  margin: 10px 0 6px 0;
  font-weight: 700;
}

@media screen and (max-width: 425px) {
  .encrypt {
    font-size: 35px;
  }
}

@media screen and (max-width: 375px) {
  .encrypt {
    font-size: 30px;
  }
}

.skill-title {
  margin: 10px 0;
  font-size: 1.5rem;
}

@media screen and (max-width: 425px) {
  .skill-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .skill-title {
    font-size: 1rem;
  }
}
